<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">CFHS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <% if(typeof(session.utype) != "undefined") { %>
                <li class="nav-item<% if (menu === "index") { %> active<% } %>">
                    <a class="nav-link" href="<% if (menu === "index") { %>/<% } else { %>/<% } %>">메인<% if (menu === "index") { %> <span class="sr-only">(현재)</span><% } %></a>
                </li>
                <li class="nav-item dropdown<% if (menu.startsWith("request")) { %> active<% } %>">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="requests">의뢰</a>
                    <div class="dropdown-menu" aria-labelledby="requests">
                        <% if(session.utype == 2) {%>
                        <a class="dropdown-item<% if (menu === "request_make") { %> active<% } %>" href="<% if (menu === "request_make") { %>#<% } else { %>/request/make<% } %>">의뢰 올리기<% if (menu === "request_make") { %> <span class="sr-only">(현재)</span><% } %></a>
                        <% } %>
                        <a class="dropdown-item<% if (menu === "request_list") { %> active<% } %>" href="<% if (menu === "request_list") { %>#<% } else { %>/request/list<% } %>">의뢰 목록 보기<% if (menu === "request_list") { %> <span class="sr-only">(현재)</span><% } %></a>
                    </div>
                </li>
                <% if(session.utype != 2) { %>
                <li class="nav-item dropdown<% if (menu.startsWith("team")) { %> active<% } %>">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="teams">팀</a>
                    <div class="dropdown-menu" aria-labelledby="teams">
                        <% if(session.utype == 1) { %>
                        <a class="dropdown-item<% if (menu === "team_make") { %> active<% } %>" href="<% if (menu === "team_make") { %>#<% } else { %>/team/make<% } %>">팀 만들기<% if (menu === "team_make") { %> <span class="sr-only">(현재)</span><% } %></a>
                        <% } %>
                        <a class="dropdown-item<% if (menu === "team_list") { %> active<% } %>" href="<% if (menu === "team_list") { %>#<% } else { %>/team/list<% } %>">나의 팀 목록 보기<% if (menu === "team_list") { %> <span class="sr-only">(현재)</span><% } %></a>
                    </div>
                <% } %>
                </li>
                <% if(session.utype == 1) { %>
                <li class="nav-item dropdown<% if (menu.startsWith("profile")) { %> active<% } %>">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="profile">프로필</a>
                    <div class="dropdown-menu" aria-labelledby="profile">
                        <a class="dropdown-item<% if (menu === "profile_modify") { %> active<% } %>" href="<% if (menu === "profile_modify") { %>#<% } else { %>/profile/modify<% } %>">프로필 수정<% if (menu === "profile_modify") { %> <span class="sr-only">(현재)</span><% } %></a>
                        <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
<% if (typeof(session.uid) === "undefined") { %>
            <form class="form-inline my-2 my-lg-0 navbar-nav" method="post" action="/api/login">
                <input class="form-control mr-sm-2 nav-link active" type="text" placeholder="아이디" style="width: 70px" name="id" required>
                <input class="form-control mr-sm-2 nav-link active" type="password" placeholder="비밀번호" style="width: 70px" name="password" required>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">로그인</button>
            </form>
            <a type=button class="btn btn-secondary my-2 my-sm-0" href="<% if (menu === "register") { %>#<% }else{ %>/register<% } %>">회원가입</a>
<% } else { %>
            <form class="form-inline my-2 my-lg-0 navbar-nav" action="/api/logout">
                <a class="nav-link" href="#"><%= session.uname %>님 (<%= ["관리자", "프리랜서", "의뢰자"][session.utype] %>)</a>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">로그아웃</button>
            </form>
<% } %>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 90px;">
<% switch (session.message) { case "login_success": %>
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">로그인되었습니다.</h4>
    <p class="mb-0"><%= session.uname %>님으로 로그인되었습니다.</p>
</div>
<% break; case "login_fail": %>
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">로그인에 실패했습니다.</h4>
    <p class="mb-0">아이디나 비밀번호를 확인해 보시기 바랍니다.</p>
</div>
<% break; case "login_needed": %>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">로그인이 필요합니다.</h4>
    <p class="mb-0">계정이 있다면 로그인을, 없다면 가입을 해주세요.</p>
</div>
<% break; case "logout_success": %>
<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">로그아웃되었습니다.</h4>
    <p class="mb-0">감사합니다.</p>
</div>
<% break; } session.message = ""; %>
