<% title = "CFHS :: 메인" %>
<% menu = "index" %>
<% include header.ejs %>
<div style="text-align: center;">
    <h1>Coding Freelancer Headhunting site</h1>
    <h3>2018년 12월 12일</h3>
    <h3>연고전</h3>
</div>
<% include footer.ejs %>