<% title = "CFHS :: 메인" %>
<% menu = "index" %>
<% include header.ejs %>

<table class = "table">
    <thead>
        <tr>
            <th>번호</th>
            <th>의뢰인</th>
        </tr>
    </thead>
    <tbody>
        <% rows.forEach(function(el) { %> 
        <tr>
            <td>165</td>
            <td>test</td>
        </tr>
        <% }) %>
    </tbody>
</table>

<% include footer.ejs %>