<% title = "CFHS :: 의뢰목록" %>
<% menu = "request_list" %>
<% include header.ejs %>

<form class="well" data-ajax="false" method="post" action="/request/sort">
    <div class="btn-group">
            <button class="btn btn-primary" type = "submit" value = "start_time">시작 날짜 순으로 정렬</button>
            <button class="btn btn-primary" type = "submit" value = "cost">가격 순으로 정렬</button>
          </div>
</form>

<table class = "table">
    <thead>
        <tr>
            <th>의뢰번호</th>
            <th>의뢰인</th>
        </tr>
    </thead>
    <tbody>
        <% rows.forEach(function(el) { %> 
        <tr>
            <td>165</td>
            <td>test</td>
        </tr>
        <% }) %>
    </tbody>
</table>

<form class="well" data-ajax="false" method="post" action="/request/search">
    <div class="btn-group">
            <button class="btn btn-primary" type = "submit" value = "finding">구인중인 의뢰</button>
            <button class="btn btn-primary" type = "submit" value = "applicable">신청 가능한 의뢰</button>
            <button class="btn btn-primary" type = "submit" value = "proceeding">진행중인 의뢰</button>
            <button class="btn btn-primary" type = "submit" value = "requested">신청한 의뢰</button>
    </div>
</form>

<% include footer.ejs %>